  <ngb-tabset>
    <ngb-tab title="Status {{logStatus.length}}">
      <ng-template ngbTabContent>
        <div *ngFor="let s of logStatus">
          <hr>
          {{s.time | date :'hh:mm:ss'}} : {{s.text}}
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Info : {{logInfo.length}}</ng-template>
      <ng-template ngbTabContent>
        <div *ngFor="let i of logInfo">
          <hr>
          {{i.time | date :'hh:mm:ss'}} {{i.text}}
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Warning : {{logWarning.length}}">
      <ng-template ngbTabContent>
        <div *ngFor="let w of logWarning">
          <hr>
          {{w.time | date :'hh:mm:ss'}} {{w.text}}
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Log Data : {{logData.length}}">
      <ng-template ngbTabContent>
        <div *ngFor="let d of logData">
          <hr>
          {{d.time | date :'hh:mm:ss'}} {{d.text}}
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Critical : {{logCritical.length}}">
      <ng-template ngbTabContent>
        <div *ngFor="let c of logCritical">
          <hr>
          {{c.time | date :'hh:mm:ss'}} {{c.text}}
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>


  <!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">Log {{logData.length}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logData">
        <td>{{log.text}}</td>
      </tr>
    </tbody>
  </table> -->



  <!-- <div *ngIf="dataLoaded">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Room Name</th>
        <th scope="col">Booking Time</th>
        <th scope="col">Booking Name</th>
        <th scope="col">Participants</th>
        <th scope="col">Price</th>
        <th scope="col">Paid</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of bookings.data">
        <td>{{b?.productName}}</td>
        <td>{{b?.startTime}}</td>
        <td>{{b?.title}}</td>
        <td>{{b?.participants.numbers[0].number}}</td>
        <td>${{b?.price.totalGross.amount}}</td>
        <td>${{b?.price.totalPaid.amount}}</td>
      </tr>
    </tbody>
  </table>
</div> -->
