  <div class="row">
    <div class="col-md-3">
      Status : {{logStatus.length}}
      <div *ngFor="let s of logStatus">
        <hr>
        {{s.time}} : {{s.text}}
      </div>
    </div>
    <div class="col-md-3">
      Info : {{logInfo.length}}
      <div *ngFor="let i of logInfo">
        <hr>
        {{i.text}}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    Data : {{logData.length}}
    <div *ngFor="let d of logData">
      <hr>
      {{d.text}}
    </div>
  </div>
  <div class="col-md-3">
    Warnings : {{logWarning.length}}
    <div *ngFor="let w of logWarning">
      <hr>
      {{w.text}}
    </div>
  </div>


  <!-- <table class="table">
    <thead>
      <tr>
        <th scope="col">Log {{logData.length}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logData">
        <td>{{log.text}}</td>
      </tr>
    </tbody>
  </table> -->



  <!-- <div *ngIf="dataLoaded">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Room Name</th>
        <th scope="col">Booking Time</th>
        <th scope="col">Booking Name</th>
        <th scope="col">Participants</th>
        <th scope="col">Price</th>
        <th scope="col">Paid</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of bookings.data">
        <td>{{b?.productName}}</td>
        <td>{{b?.startTime}}</td>
        <td>{{b?.title}}</td>
        <td>{{b?.participants.numbers[0].number}}</td>
        <td>${{b?.price.totalGross.amount}}</td>
        <td>${{b?.price.totalPaid.amount}}</td>
      </tr>
    </tbody>
  </table>
</div> -->
