<div *ngIf="isDataAvailable">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2>{{ script.name }}</h2>
        <hr />
        <div *ngIf="script.timeUpdate">
          <h2>{{script.timeUpdate.hrs}} : {{script.timeUpdate.min}} : {{script.timeUpdate.sec}}</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="timer_duration"> Timer duration </label>
          <input type="text" class="form-control" [(ngModel)]="hours" id="timer_duration_hours" value="1" placeholder="Hours" />
          <input type="text" class="form-control" [(ngModel)]="minutes" id="timer_duration_minutes" placeholder="minutes" />
          <input type="text" class="form-control" [(ngModel)]="seconds" id="timer_duration_seconds" placeholder="seconds" />
        </div>
        <hr />
        <button id="update_game_timer" type="button" class="btn btn-success-outline" (click)="updateCustomTimer()">
          Update Game timer
        </button>
        <button id="start_game_timer" type="button" class="btn btn-success-outline" (click)="resumeGameTimer()">
          Start Game timer
        </button>
        <button id="stop_game_timer" type="button" class="btn btn-danger-outline" (click)="pauseGameTimer()">
          Pause Game Timer
        </button>
        <hr />
        <button id="new_game" type="button" class="btn btn-success" (click)="startNewGame()">
          Start New Game
        </button>
        <button id="end_game" type="button" class="btn btn-danger" (click)="endGame()">
          End Game
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <ul>
            <li *ngFor="let hint of script.hints">{{hint.name}} : {{hint.hint}}</li>
          </ul>

          <ul>
            <li *ngFor="let trigger of script.triggers">{{trigger.name}} : {{trigger.hint}} : {{trigger.audio}} :
              {{trigger.video}} : {{trigger.can_toggle}}</li>
          </ul>
          <label for="hintInput"> Hint </label>
          <input type="text" class="form-control" id="hintInput" [(ngModel)]="hintText" name="hintInput" />
        </div>
        <button class="btn-info" (click)="sendHint()">Send Hint</button>
        <button type="button" class="btn btn-default" (click)="clearHint()">
          Clear message
        </button>
      </div>
      <div class="col-md-6">Audio buttons? - Triggers?</div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ng-template #eascript></ng-template>
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <div *ngIf="script">
            <template *ngFor="let event of script.events">
              <ngb-panel title="{{ event.name }} : {{ event.status }}">
                <ng-template ngbPanelContent>
                  <button (click)="sendForcedEvent(event.name)">
                    Force event {{ event.name }}
                  </button>
                  <hr />
                  <button *ngFor="let action of event.actions" (click)="sendForcedAction(action)">
                    {{ action }}
                  </button>
                </ng-template>
              </ngb-panel>
            </template>
          </div>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>
